server:
  port: 7003

#Eureka
eureka:
  instance:
    hostname: eureka7003.com #Eureka服务端的实例名称
  client:
    register-with-eureka: false #表示是否向eureka注册中心注册
    fetch-registry: false #如果为false。则表示自己为注册中心
    service-url:
      #单机:defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
      #集群:把其它两个地址写上，三者就有关系了
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/